@font-face {
  font-family: 'Black';
  src: url('../../assets/fonts/DarkerGrotesque-Black.ttf');
}
@font-face {
  font-family: 'Bold';
  src: url('../../assets/fonts/DarkerGrotesque-Bold.ttf');
}
@font-face {
  font-family: 'Extra-Bold';
  src: url('../../assets/fonts/DarkerGrotesque-ExtraBold.ttf');
}
@font-face {
  font-family: 'Light';
  src: url('../../assets/fonts/DarkerGrotesque-Light.ttf');
}
@font-face {
  font-family: 'Medium';
  src: url('../../assets/fonts/DarkerGrotesque-Medium.ttf');
}
@font-face {
  font-family: 'Regular';
  src: url('../../assets/fonts/DarkerGrotesque-Regular.ttf');
}
@font-face {
  font-family: 'Semi-Bold';
  src: url('../../assets/fonts/DarkerGrotesque-SemiBold.ttf');
}
