.linksPage {
  background-color: rgb(35, 36, 41);
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
